.header {
  height: 56px;
  margin-bottom: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #000000;
  padding: 0;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksGroup {
  display: flex;
}

.burger {
  display: none;
  background: lime;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.link:hover {
  background-color: lime;
  color: #000000;
}

.logo {
  max-width: 60px;
  padding: 10px;
}



@media (max-width: 768px) {
  /* mobile view */
  .burger {
    display: block;
  }

  .linksGroup {
    display: none;
  }

  .link {
    display: block;
    line-height: 1;

    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    background-color: lime;
  }

  .logo {
    max-width: 50%;
    padding: 10px;
    position: relative;
  }

  .inner {
    flex-direction: column;
    background-color: #000000;
  }

  .header {
    position: absolute;
    background-color: #000000;
    padding: 0;
    height: 250px;
  }

  .mobileLinks {
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
  }
}
