.ProfilePic{
  max-width: 50%;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.imagecontainer{
  display: flex;
  width: 100%;
  flex-direction: row;
}

@media (max-width: 768px) {

  .ProfilePic{
    max-width: 100%;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  .imagecontainer{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

}