

body {
  margin: 0;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  background-color: #000000;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.87);
}

